$basic-dark: #00796B;
$basic: #009688;
$basic-light:#B2DFDB;
$simple: #FFFFFF;
$accent-color:#9E9E9E;
$primary-text:#212121;
$secondary-text:#727272;
$divider-color:#B6B6B6;

$basic-font: 'Oswald', sans-serif;
$secondary-font:'Open Sans Condensed', sans-serif;